In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
import keras
from keras.layers import *
%matplotlib inline

C:\Users\HP.DESKTOP-UCJPQBV\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\HP.DESKTOP-UCJPQBV\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
df = pd.read_csv("F:\\python\\foresttype\\train.csv")
testset = pd.read_csv("F:\\python\\foresttype\\test.csv")

In [3]:
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [4]:
testset.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,15121,2680,354,14,0,0,2684,196,214,156,...,0,0,0,0,0,0,0,0,0,0
1,15122,2683,0,13,0,0,2654,201,216,152,...,0,0,0,0,0,0,0,0,0,0
2,15123,2713,16,15,0,0,2980,206,208,137,...,0,0,0,0,0,0,0,0,0,0
3,15124,2709,24,17,0,0,2950,208,201,125,...,0,0,0,0,0,0,0,0,0,0
4,15125,2706,29,19,0,0,2920,210,195,115,...,0,0,0,0,0,0,0,0,0,0

Save the ID column of the testset, which is used at submission.

In [117]:
ids = testset['Id']

Remove Id column as it has no significance.

In [118]:
df = df.drop('Id',axis = 1)
testset = testset.drop('Id',axis = 1)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 55 columns):
Elevation                             15120 non-null int64
Aspect                                15120 non-null int64
Slope                                 15120 non-null int64
Horizontal_Distance_To_Hydrology      15120 non-null int64
Vertical_Distance_To_Hydrology        15120 non-null int64
Horizontal_Distance_To_Roadways       15120 non-null int64
Hillshade_9am                         15120 non-null int64
Hillshade_Noon                        15120 non-null int64
Hillshade_3pm                         15120 non-null int64
Horizontal_Distance_To_Fire_Points    15120 non-null int64
Wilderness_Area1                      15120 non-null int64
Wilderness_Area2                      15120 non-null int64
Wilderness_Area3                      15120 non-null int64
Wilderness_Area4                      15120 non-null int64
Soil_Type1                            15120 non-null int64
Soil_Type2                            15120 non-null int64
Soil_Type3                            15120 non-null int64
Soil_Type4                            15120 non-null int64
Soil_Type5                            15120 non-null int64
Soil_Type6                            15120 non-null int64
Soil_Type7                            15120 non-null int64
Soil_Type8                            15120 non-null int64
Soil_Type9                            15120 non-null int64
Soil_Type10                           15120 non-null int64
Soil_Type11                           15120 non-null int64
Soil_Type12                           15120 non-null int64
Soil_Type13                           15120 non-null int64
Soil_Type14                           15120 non-null int64
Soil_Type15                           15120 non-null int64
Soil_Type16                           15120 non-null int64
Soil_Type17                           15120 non-null int64
Soil_Type18                           15120 non-null int64
Soil_Type19                           15120 non-null int64
Soil_Type20                           15120 non-null int64
Soil_Type21                           15120 non-null int64
Soil_Type22                           15120 non-null int64
Soil_Type23                           15120 non-null int64
Soil_Type24                           15120 non-null int64
Soil_Type25                           15120 non-null int64
Soil_Type26                           15120 non-null int64
Soil_Type27                           15120 non-null int64
Soil_Type28                           15120 non-null int64
Soil_Type29                           15120 non-null int64
Soil_Type30                           15120 non-null int64
Soil_Type31                           15120 non-null int64
Soil_Type32                           15120 non-null int64
Soil_Type33                           15120 non-null int64
Soil_Type34                           15120 non-null int64
Soil_Type35                           15120 non-null int64
Soil_Type36                           15120 non-null int64
Soil_Type37                           15120 non-null int64
Soil_Type38                           15120 non-null int64
Soil_Type39                           15120 non-null int64
Soil_Type40                           15120 non-null int64
Cover_Type                            15120 non-null int64
dtypes: int64(55)
memory usage: 6.3 MB

Check for null values. Looks like we have no null values.

In [120]:
df.isnull().sum()

Elevation                             0
Aspect                                0
Slope                                 0
Horizontal_Distance_To_Hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Hillshade_9am                         0
Hillshade_Noon                        0
Hillshade_3pm                         0
Horizontal_Distance_To_Fire_Points    0
Wilderness_Area1                      0
Wilderness_Area2                      0
Wilderness_Area3                      0
Wilderness_Area4                      0
Soil_Type1                            0
Soil_Type2                            0
Soil_Type3                            0
Soil_Type4                            0
Soil_Type5                            0
Soil_Type6                            0
Soil_Type7                            0
Soil_Type8                            0
Soil_Type9                            0
Soil_Type10                           0
Soil_Type11                           0
Soil_Type12                           0
Soil_Type13                           0
Soil_Type14                           0
Soil_Type15                           0
Soil_Type16                           0
Soil_Type17                           0
Soil_Type18                           0
Soil_Type19                           0
Soil_Type20                           0
Soil_Type21                           0
Soil_Type22                           0
Soil_Type23                           0
Soil_Type24                           0
Soil_Type25                           0
Soil_Type26                           0
Soil_Type27                           0
Soil_Type28                           0
Soil_Type29                           0
Soil_Type30                           0
Soil_Type31                           0
Soil_Type32                           0
Soil_Type33                           0
Soil_Type34                           0
Soil_Type35                           0
Soil_Type36                           0
Soil_Type37                           0
Soil_Type38                           0
Soil_Type39                           0
Soil_Type40                           0
Cover_Type                            0
dtype: int64

In [121]:
testset.isnull().sum()

Elevation                             0
Aspect                                0
Slope                                 0
Horizontal_Distance_To_Hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Hillshade_9am                         0
Hillshade_Noon                        0
Hillshade_3pm                         0
Horizontal_Distance_To_Fire_Points    0
Wilderness_Area1                      0
Wilderness_Area2                      0
Wilderness_Area3                      0
Wilderness_Area4                      0
Soil_Type1                            0
Soil_Type2                            0
Soil_Type3                            0
Soil_Type4                            0
Soil_Type5                            0
Soil_Type6                            0
Soil_Type7                            0
Soil_Type8                            0
Soil_Type9                            0
Soil_Type10                           0
Soil_Type11                           0
Soil_Type12                           0
Soil_Type13                           0
Soil_Type14                           0
Soil_Type15                           0
Soil_Type16                           0
Soil_Type17                           0
Soil_Type18                           0
Soil_Type19                           0
Soil_Type20                           0
Soil_Type21                           0
Soil_Type22                           0
Soil_Type23                           0
Soil_Type24                           0
Soil_Type25                           0
Soil_Type26                           0
Soil_Type27                           0
Soil_Type28                           0
Soil_Type29                           0
Soil_Type30                           0
Soil_Type31                           0
Soil_Type32                           0
Soil_Type33                           0
Soil_Type34                           0
Soil_Type35                           0
Soil_Type36                           0
Soil_Type37                           0
Soil_Type38                           0
Soil_Type39                           0
Soil_Type40                           0
dtype: int64

Lets check if any column has no values/not significant

In [122]:
df.sum()

Elevation                             41569757
Aspect                                 2368951
Slope                                   249504
Horizontal_Distance_To_Hydrology       3435199
Vertical_Distance_To_Hydrology          772277
Horizontal_Distance_To_Roadways       25916031
Hillshade_9am                          3216089
Hillshade_Noon                         3310760
Hillshade_3pm                          2042591
Horizontal_Distance_To_Fire_Points    22848547
Wilderness_Area1                          3597
Wilderness_Area2                           499
Wilderness_Area3                          6349
Wilderness_Area4                          4675
Soil_Type1                                 355
Soil_Type2                                 623
Soil_Type3                                 962
Soil_Type4                                 843
Soil_Type5                                 165
Soil_Type6                                 650
Soil_Type7                                   0
Soil_Type8                                   1
Soil_Type9                                  10
Soil_Type10                               2142
Soil_Type11                                406
Soil_Type12                                227
Soil_Type13                                476
Soil_Type14                                169
Soil_Type15                                  0
Soil_Type16                                114
Soil_Type17                                612
Soil_Type18                                 60
Soil_Type19                                 46
Soil_Type20                                139
Soil_Type21                                 16
Soil_Type22                                345
Soil_Type23                                757
Soil_Type24                                257
Soil_Type25                                  1
Soil_Type26                                 54
Soil_Type27                                 15
Soil_Type28                                  9
Soil_Type29                               1291
Soil_Type30                                725
Soil_Type31                                332
Soil_Type32                                690
Soil_Type33                                616
Soil_Type34                                 22
Soil_Type35                                102
Soil_Type36                                 10
Soil_Type37                                 34
Soil_Type38                                728
Soil_Type39                                657
Soil_Type40                                459
Cover_Type                               60480
dtype: int64

In [123]:
testset.sum()

Elevation                             1677856995
Aspect                                  88069522
Slope                                    7944917
Horizontal_Distance_To_Hydrology       153105828
Vertical_Distance_To_Hydrology          26197635
Horizontal_Distance_To_Roadways       1339547352
Hillshade_9am                          120043311
Hillshade_Noon                         126440094
Hillshade_3pm                           80768040
Horizontal_Distance_To_Fire_Points    1127724419
Wilderness_Area1                          257199
Wilderness_Area2                           29385
Wilderness_Area3                          247015
Wilderness_Area4                           32293
Soil_Type1                                  2676
Soil_Type2                                  6902
Soil_Type3                                  3861
Soil_Type4                                 11553
Soil_Type5                                  1432
Soil_Type6                                  5925
Soil_Type7                                   105
Soil_Type8                                   178
Soil_Type9                                  1137
Soil_Type10                                30492
Soil_Type11                                12004
Soil_Type12                                29744
Soil_Type13                                16955
Soil_Type14                                  430
Soil_Type15                                    3
Soil_Type16                                 2731
Soil_Type17                                 2810
Soil_Type18                                 1839
Soil_Type19                                 3975
Soil_Type20                                 9120
Soil_Type21                                  822
Soil_Type22                                33028
Soil_Type23                                56995
Soil_Type24                                21021
Soil_Type25                                  473
Soil_Type26                                 2535
Soil_Type27                                 1071
Soil_Type28                                  937
Soil_Type29                               113956
Soil_Type30                                29445
Soil_Type31                                25334
Soil_Type32                                51829
Soil_Type33                                44538
Soil_Type34                                 1589
Soil_Type35                                 1789
Soil_Type36                                  109
Soil_Type37                                  264
Soil_Type38                                14845
Soil_Type39                                13149
Soil_Type40                                 8291
dtype: int64

So, soiltype 7 and 15 has no values in it, that means none of the 7 cover types has a soiltype of 7 and 15, so lets these two from the list, as they have no real use.

In [124]:
df = df.drop(['Soil_Type7', 'Soil_Type15'],axis =1)
testset = testset.drop(['Soil_Type7', 'Soil_Type15'],axis =1)

Soiltype 8 and 25 has only one observation each, so lets check what those are.

In [125]:
df[df['Soil_Type8'] == 1]

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
497,2900,180,3,300,-2,4725,220,241,156,4880,...,0,0,0,0,0,0,0,0,0,2

In [126]:
df[df['Soil_Type25'] == 1]

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
10605,3293,125,28,108,-37,633,253,208,63,3728,...,0,0,0,0,0,0,0,0,0,2

So, both the soiltypes 8 and 25 are for only Covertype 2. So, I think we can remove these columns also. But first lets run our model with these two columns

I want to try neural networks on this data, since we have a lot of numerical data.
We need to scale the data to (0,1) for the better results in neural networks

In [127]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0,1))

Lets create our labels

In [128]:
labels = df.Cover_Type

Lets convert the labels to one hot format which is preferred for labels. 
There are many ways to do, i chose the one below

In [129]:
labels = pd.get_dummies(labels)

Convert to numpy array, since NN's accept numpy arrays only

In [130]:
labels = labels.values

Lets create our features matrix

In [131]:
features = df.drop('Cover_Type',axis =1)

In [132]:
features.shape

(15120, 52)

In [133]:
testset.shape # since we dont have the covertype already.

(565892, 52)

In [134]:
features = features.values

In [135]:
testset = testset.values

Heres the snapshot of features

In [136]:
features[0]

array([2596,   51,    3,  258,    0,  510,  221,  232,  148, 6279,    1,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    1,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0], dtype=int64)

In [137]:
testset[0]

array([2680,  354,   14,    0,    0, 2684,  196,  214,  156, 6645,    1,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    1,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0], dtype=int64)

As we discussed, NN's work better on the data which is scaled. So lets scale our data.

In [138]:
features = scaler.fit_transform(features)

C:\Users\HP.DESKTOP-UCJPQBV\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [139]:
testset = scaler.transform(testset)

Here's how it looks after normalization/scaling.

In [140]:
features[0]

array([0.36908359, 0.14166667, 0.05769231, 0.19210722, 0.20857143,
       0.07402032, 0.87007874, 0.85806452, 0.59677419, 0.8978979 ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        ])

In [141]:
testset[0]

array([0.41137966, 0.98333333, 0.26923077, 0.        , 0.20857143,
       0.38955007, 0.77165354, 0.74193548, 0.62903226, 0.95023595,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        ])

In [142]:
print(type(labels))
print(type(features))
print(type(testset))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

Lets split our dataset into testset and trainset

In [143]:
train_x,test_x,train_y,test_y = train_test_split(features,labels)

In [144]:
print(train_x.shape,train_y.shape,test_x.shape,test_y.shape)

(11340, 52) (11340, 7) (3780, 52) (3780, 7)

# KERAS

In [159]:
model = keras.models.Sequential()
model.add(Dense(300,input_dim = 52,activation = 'relu'))
model.add(Dense(700,activation = 'relu'))
model.add(Dense(200,activation = 'relu'))
model.add(Dense(7,activation='softmax'))
model.compile(loss = 'categorical_crossentropy',optimizer = 'adam',metrics = ['categorical_accuracy'])
model.fit(train_x,train_y,epochs=60,shuffle=True, verbose =1)

Epoch 1/60
11340/11340 [==============================] - 3s 297us/step - loss: 0.9097 - categorical_accuracy: 0.6288
Epoch 2/60
11340/11340 [==============================] - 3s 270us/step - loss: 0.7257 - categorical_accuracy: 0.6929
Epoch 3/60
11340/11340 [==============================] - 3s 265us/step - loss: 0.6660 - categorical_accuracy: 0.7117
Epoch 4/60
11340/11340 [==============================] - 3s 260us/step - loss: 0.6297 - categorical_accuracy: 0.7346
Epoch 5/60
11340/11340 [==============================] - 3s 254us/step - loss: 0.6039 - categorical_accuracy: 0.7394
Epoch 6/60
11340/11340 [==============================] - 3s 253us/step - loss: 0.5778 - categorical_accuracy: 0.7588
Epoch 7/60
11340/11340 [==============================] - 3s 266us/step - loss: 0.5556 - categorical_accuracy: 0.7685
Epoch 8/60
11340/11340 [==============================] - 3s 272us/step - loss: 0.5225 - categorical_accuracy: 0.7781
Epoch 9/60
11340/11340 [==============================] - 3s 265us/step - loss: 0.5068 - categorical_accuracy: 0.7869
Epoch 10/60
11340/11340 [==============================] - 3s 247us/step - loss: 0.4934 - categorical_accuracy: 0.7949
Epoch 11/60
11340/11340 [==============================] - 3s 245us/step - loss: 0.4747 - categorical_accuracy: 0.8009
Epoch 12/60
11340/11340 [==============================] - 3s 274us/step - loss: 0.4580 - categorical_accuracy: 0.8065
Epoch 13/60
11340/11340 [==============================] - 3s 243us/step - loss: 0.4417 - categorical_accuracy: 0.8191
Epoch 14/60
11340/11340 [==============================] - 3s 238us/step - loss: 0.4270 - categorical_accuracy: 0.8233
Epoch 15/60
11340/11340 [==============================] - 3s 230us/step - loss: 0.4207 - categorical_accuracy: 0.8294
Epoch 16/60
11340/11340 [==============================] - 3s 232us/step - loss: 0.3941 - categorical_accuracy: 0.8364
Epoch 17/60
11340/11340 [==============================] - 3s 232us/step - loss: 0.3854 - categorical_accuracy: 0.8446
Epoch 18/60
11340/11340 [==============================] - 3s 234us/step - loss: 0.3738 - categorical_accuracy: 0.8468
Epoch 19/60
11340/11340 [==============================] - 3s 239us/step - loss: 0.3630 - categorical_accuracy: 0.8532
Epoch 20/60
11340/11340 [==============================] - 3s 231us/step - loss: 0.3473 - categorical_accuracy: 0.8596
Epoch 21/60
11340/11340 [==============================] - 3s 231us/step - loss: 0.3383 - categorical_accuracy: 0.8637
Epoch 22/60
11340/11340 [==============================] - 3s 257us/step - loss: 0.3297 - categorical_accuracy: 0.8677
Epoch 23/60
11340/11340 [==============================] - 3s 239us/step - loss: 0.3193 - categorical_accuracy: 0.8694
Epoch 24/60
11340/11340 [==============================] - 3s 231us/step - loss: 0.3048 - categorical_accuracy: 0.8790
Epoch 25/60
11340/11340 [==============================] - 3s 230us/step - loss: 0.2935 - categorical_accuracy: 0.8804
Epoch 26/60
11340/11340 [==============================] - 3s 232us/step - loss: 0.2830 - categorical_accuracy: 0.8878
Epoch 27/60
11340/11340 [==============================] - 3s 232us/step - loss: 0.2756 - categorical_accuracy: 0.8896
Epoch 28/60
11340/11340 [==============================] - 3s 232us/step - loss: 0.2686 - categorical_accuracy: 0.8904
Epoch 29/60
11340/11340 [==============================] - 3s 239us/step - loss: 0.2600 - categorical_accuracy: 0.8981
Epoch 30/60
11340/11340 [==============================] - 3s 248us/step - loss: 0.2552 - categorical_accuracy: 0.8987
Epoch 31/60
11340/11340 [==============================] - 3s 240us/step - loss: 0.2417 - categorical_accuracy: 0.9050
Epoch 32/60
11340/11340 [==============================] - 3s 233us/step - loss: 0.2338 - categorical_accuracy: 0.9034
Epoch 33/60
11340/11340 [==============================] - 3s 241us/step - loss: 0.2243 - categorical_accuracy: 0.9092
Epoch 34/60
11340/11340 [==============================] - 3s 240us/step - loss: 0.2244 - categorical_accuracy: 0.9107
Epoch 35/60
11340/11340 [==============================] - 3s 241us/step - loss: 0.2156 - categorical_accuracy: 0.9158
Epoch 36/60
11340/11340 [==============================] - 3s 241us/step - loss: 0.2060 - categorical_accuracy: 0.9163
Epoch 37/60
11340/11340 [==============================] - 3s 256us/step - loss: 0.2042 - categorical_accuracy: 0.9205
Epoch 38/60
11340/11340 [==============================] - 3s 269us/step - loss: 0.1933 - categorical_accuracy: 0.9193
Epoch 39/60
11340/11340 [==============================] - 3s 272us/step - loss: 0.1885 - categorical_accuracy: 0.9265
Epoch 40/60
11340/11340 [==============================] - 3s 260us/step - loss: 0.1933 - categorical_accuracy: 0.9235
Epoch 41/60
11340/11340 [==============================] - 3s 241us/step - loss: 0.1840 - categorical_accuracy: 0.9276
Epoch 42/60
11340/11340 [==============================] - 3s 249us/step - loss: 0.1821 - categorical_accuracy: 0.9281
Epoch 43/60
11340/11340 [==============================] - 3s 249us/step - loss: 0.1716 - categorical_accuracy: 0.9322
Epoch 44/60
11340/11340 [==============================] - 3s 244us/step - loss: 0.1600 - categorical_accuracy: 0.9361
Epoch 45/60
11340/11340 [==============================] - 3s 237us/step - loss: 0.1634 - categorical_accuracy: 0.9332
Epoch 46/60
11340/11340 [==============================] - 3s 243us/step - loss: 0.1599 - categorical_accuracy: 0.9341
Epoch 47/60
11340/11340 [==============================] - 3s 245us/step - loss: 0.1565 - categorical_accuracy: 0.9367
Epoch 48/60
11340/11340 [==============================] - 3s 246us/step - loss: 0.1477 - categorical_accuracy: 0.9407
Epoch 49/60
11340/11340 [==============================] - 3s 252us/step - loss: 0.1395 - categorical_accuracy: 0.9434
Epoch 50/60
11340/11340 [==============================] - 3s 255us/step - loss: 0.1533 - categorical_accuracy: 0.9392
Epoch 51/60
11340/11340 [==============================] - 3s 255us/step - loss: 0.1383 - categorical_accuracy: 0.9450
Epoch 52/60
11340/11340 [==============================] - 3s 242us/step - loss: 0.1291 - categorical_accuracy: 0.9508
Epoch 53/60
11340/11340 [==============================] - 3s 239us/step - loss: 0.1332 - categorical_accuracy: 0.9456
Epoch 54/60
11340/11340 [==============================] - 3s 247us/step - loss: 0.1299 - categorical_accuracy: 0.9485
Epoch 55/60
11340/11340 [==============================] - 3s 237us/step - loss: 0.1245 - categorical_accuracy: 0.9504
Epoch 56/60
11340/11340 [==============================] - 3s 235us/step - loss: 0.1157 - categorical_accuracy: 0.9531
Epoch 57/60
11340/11340 [==============================] - 3s 241us/step - loss: 0.1206 - categorical_accuracy: 0.9519
Epoch 58/60
11340/11340 [==============================] - 3s 250us/step - loss: 0.1217 - categorical_accuracy: 0.9506
Epoch 59/60
11340/11340 [==============================] - 3s 253us/step - loss: 0.1181 - categorical_accuracy: 0.9520
Epoch 60/60
11340/11340 [==============================] - 3s 236us/step - loss: 0.1130 - categorical_accuracy: 0.9546

In [105]:
print("The Accuracy on the sampled test set is", model.evaluate(test_x,test_y)[1])

3780/3780 [==============================] - 0s 64us/step
The Accuracy on the sampled test set is 0.8552910052910053

So, lets now run the same keras model on the whole train set (on whole features) and predict the testset.

In [146]:
modelmain = keras.models.Sequential()
modelmain.add(Dense(300,input_dim = 52,activation = 'relu'))
modelmain.add(Dense(700,activation = 'relu'))
modelmain.add(Dense(200,activation = 'relu'))
modelmain.add(Dense(7,activation='softmax'))
modelmain.compile(loss = 'categorical_crossentropy',optimizer = 'adam',metrics = ['categorical_accuracy'])
modelmain.fit(features,labels,epochs=120,shuffle=True, verbose =0) #verbose 0 to display no logs

In [147]:
pred = modelmain.predict(testset)

In [149]:
covertype = [np.argmax(i)+1 for i in pred]

In [153]:
sub = pd.DataFrame({'Id':ids,'Cover_Type':covertype})

In [156]:
output = sub[['Id','Cover_Type']]

In [157]:
output.to_csv("output.csv",index = False)

# PLEASE UPVOTE, IF YOU LIKE IT.